$width: 42px;

@mixin red($selector) {
  #{$selector} {
    background-color: red;
  }
}

.container {
  display: table;

  height: $width;

  font: {
    size: $width;
  }

  .wrapper {
    display: table-cell;

    vertical-align: middle;
  }
}

@include red(".container");
